services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Cobweb\Svconnector\:
    resource: '../Classes/*'

  Cobweb\Svconnector\Utility\FileUtility:
    public: true

  # Connector services registry
  Cobweb\Svconnector\Registry\ConnectorRegistry:
    public: true
    arguments:
      - !tagged_iterator connector.service
